<div class="container">
<div class="p-5 text-center bg-image mb-4" style="
      background-image: url('http://loremflickr.com/1800/1000/<%=@restaurant.category%>-restaurant');
      height: 400px;
    ">
  </div>
<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<div>
<%= link_to restaurants_path() do%>
<i class="fa-solid fa-house"></i>
<% end %>
</div>
<div>
 <ul>
    <% @restaurant.reviews.each do |review| %>
      <li>
        <%= review.content %>
        <%=review.rating%>
      </li>
    <% end %>
  </ul>
</div>

<div>

<%= link_to "Post a Review",    new_restaurant_review_path(@restaurant) %>

</div>

</div>
