<h1>Review the <%= @restaurant.name %></h1>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content, label: "Evaluate your experience" %>
  <%= f.input :rating, collection: 1..5 %>
  <%= f.submit 'Add Review', class: 'btn btn-primary' %>
<% end %>
